/* font import */
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;400;500;700&display=swap");

/* root variables */
:root {
	/* fonts */
	--font-family: "Ysabeau", cursive;
	--font-size-normal: 1em;
	--font-size-small: 0.8em;
	--font-size-large: 1.2em;
	--font-size-xlarge: 1.5em;
	--font-size-xxlarge: 2em;
	--font-size-title: 2.5em;
	/* colors */
	--primary-color: #f5f5f5;
	--secondary-color: #333333;
	--tertiary-color: #b7e3f5;
	--accent-color-light: #24adcf;
	--accent-color-dark: #11596b;
	--shadow-color: #111;
	--text-color: var(--secondary-color);

	/* spacing */
	--spacing-tiny: 0.25em;
	--spacing-small: 0.5em;
	--spacing-normal: 1em;
	--spacing-large: 1.5em;

	/* borders */
	--border-radius: 0.5em;
	--border-solid: 1px solid var(--tertiary-color); /* color subject to change */
	--border-none: none;

	/* effects */
	--box-shadow: 2px 2px 8px var(--shadow-color);
	/* gradient colors are subject to change */
	--gradient: linear-gradient(to bottom right, var(--accent-color-light), var(--accent-color-dark));
	--transition-transform: transform 0.4s ease-in-out;
	--scale-on-hover: scale(1.03);
	--scale-on-click: scale(0.95);

	/* media queries */
	--media-query-small: 600px;
	--media-query-medium: 900px;
	--media-query-large: 1200px;
	--media-query-xlarge: 1800px;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* general styling */
body {
	font-family: var(--font-family);
	font-size: var(--font-size-normal);
	color: var(--text-color);
	background-color: var(--accent-color-dark);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header,
nav,
footer {
	background-color: var(--accent-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family);
	font-weight: 400;
}

h1 {
	font-size: var(--font-size-title);
}

h2 {
	font-size: var(--font-size-xxlarge);
	text-align: center;
	color: var(--primary-color);
}

h3 {
	font-size: var(--font-size-large);
}

p {
	font-size: var(--font-size-normal);
	font-weight: 300;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

ul {
	list-style: none;
}

li {
	padding: var(--spacing-small);
}

img {
	max-width: 100%;
}

button {
	padding: 0.8em;
	border: none;
	border-radius: var(--border-radius);
}

select, input {
	cursor: pointer;
	background-color: var(--primary-color);
}

main {
	min-height: 75vh;
}

/* header styling */
header,
footer {
	padding: var(--spacing-normal) var(--spacing-normal);
	width: 100%;
}

header h1 {
	text-align: center;
	color: var(--secondary-color);
}

footer {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* nav styling */
nav {
	padding: var(--spacing-tiny) var(--spacing-normal);
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	box-shadow: 2px 2px 10px var(--shadow-color);
}

nav a {
	font-size: var(--font-size-large);
	font-weight: 300;
	padding: var(--spacing-small) var(--spacing-normal);
}

nav a:hover {
	text-decoration: underline var(--primary-color) 2px; /* change into a bottom border */
}

nav a.active {
	text-decoration: underline var(--primary-color) 2px; /* change into a bottom border */
}

nav button {
	/* margin-left: auto; */
	margin-right: var(--spacing-small);
}

#logged-in-as-p {
	margin-left: auto;
	margin-right: var(--spacing-small);
}

/* search-bar & performance filter bar styling */
#search-bar,
#performance-filter-bar {
	background-color: var(--accent-color-light);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--spacing-normal) auto;
	padding: var(--spacing-tiny);
	outline: var(--border-solid);
	border-radius: var(--border-radius);
	width: fit-content;
	gap: 2rem;
	box-shadow: var(--box-shadow);
}

#search-bar input,
#search-bar select,
#search-bar button,
#performance-filter-bar input,
#performance-filter-bar select,
#main-dialog input,
#main-dialog button {
	font-size: var(--font-size-normal);
	font-weight: 200;
	padding: var(--spacing-small);
	margin: var(--spacing-tiny) var(--spacing-small);
	border: none;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

#search-bar input:focus,
#main-dialog input:focus,
#search-bar select:focus {
	outline: none;
}

.search-bar-group-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* section styling */
.section-title {
	text-transform: capitalize;
	text-align: center;
	padding-top: var(--font-size-small);
}

#performance-filter-bar input[type="checkbox"] {
	margin: var(--spacing-small) var(--spacing-small);
	height: 1.3em;
	width: 1.3em;
}

#performance-filter-bar label {
	font-size: var(--font-size-normal);
	font-weight: 300;
	text-transform: capitalize;
}

/* dialog styling */

#btn-close-dialog-modal {
	float: right;
}

#main-dialog-frame {
	min-height: fit-content;
	/* max-height: 37em; */
	margin: auto;
	padding: 1em;
	background-color: var(--accent-color-light);
	border: var(--border-solid);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	animation: fade-in 0.2s forwards;
}

.details-body-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 1rem;
	gap: 1rem;
}

.details-img {
	max-width: 250px;
	height: 400px;
}
.details-img img {
	/* width: 300px; */
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	object-fit: cover;
}

/* Confirmation btns */
#confirmation-update-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Notification feedback dialog */
#notification-feedback {
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	outline: 2px solid var(--secondary-color);
	position: fixed;
	top: 85%;
	left: 10%;
	padding: 2rem;
	width: fit-content;
	height: 3em;
	box-shadow: var(--box-shadow);
	z-index: 1;
	background-color: var(--primary-color);
}

/* grid styling */

#members-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	margin: 1.5em;
	background-color: var(--accent-color-dark);
}

.grid-item {
	outline: var(--border-solid);
	border-radius: var(--border-radius);
	/* background-color: var(--accent-color-light); */
	background: linear-gradient(var(--accent-color-light), #1a829c);
	box-shadow: var(--box-shadow);
	padding: 1em;
	width: 100%;
	max-width: 18em;
	margin: 0 auto;
	transition: ease-out 0.3s;
	animation: fade-in 0.4s backwards var(--delay);
}

.grid-item h2 {
	font-size: var(--font-size-xlarge);
	font-weight: 400;
}

.grid-item img {
	display: flex;
	width: 200px;
	height: 300px;
	margin: auto auto;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.grid-item:hover {
	transform: var(--scale-on-hover);
	box-shadow: 3px 3px 10px var(--shadow-color);
}

.grid-item-bottom {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.grid-item-bottom-btns {
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

/* top 5 results styling */
.top-five-disciplines h3 {
	text-transform: capitalize;
	text-align: center;
	border: var(--border-solid);
	padding: var(--spacing-tiny) var(--spacing-small);
	background-color: var(--accent-color-light);
	border-radius: var(--border-radius);
	min-width: fit-content;
	margin: var(--spacing-small);
}

#top-five-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
}

.top-five-grid-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: var(--border-solid);
	padding: var(--spacing-small);
	background-color: var(--accent-color-light);
	border-radius: var(--border-radius);
	min-width: fit-content;
	margin: var(--spacing-small);
	transition: ease-out 0.3s;
	box-shadow: var(--box-shadow);
}

/* .top-five-grid-item:hover {
	transform: var(--scale-on-hover);
	box-shadow: 3px 3px 10px var(--shadow-color);
} */

/* member results dialog styling */

#member-dialog-results-container {
	margin: 1rem;
	width: 700px;
	min-width: fit-content;
}

#competition-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1em;
	margin-top: 1rem;
}

.member-dialog-results-btn {
	margin-bottom: 1rem;
}

/* table styling */

table {
	text-align: center;
	width: 100%;
	/* border-collapse: collapse; */
	border-spacing: 0;
	overflow: hidden;
}

thead tr {
	color: var(--tertiary-color);
	background-color: #17698c;
}

th,
td {
	padding: 0.5rem;
}

tr {
	background-color: var(--accent-color-light);
}

tr:nth-child(even) {
	background-color: #22a5c5;
}

/* Finances tables*/

#finances {
	width: 95%;
	margin: auto;
}

#finances-top-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 100%;
}

#finances-membertype-overview h3 {
	text-align: center;
	color: var(--tertiary-color);
	margin-bottom: 0.5rem;
}

#finances h3, #finances-top-container table tr td:nth-child(odd),
#finances-top-container table tr:last-child, #finances-membertype-overview thead tr:first-child,#finances-membertype-overview tbody tr td:nth-child(1), 
#finances-membertype-overview tbody tr:last-child{
	font-weight: bolder;
}

#finances-membertype-overview tbody tr td:first-child,
#finances-active-inactive-article tbody tr td:first-child, 
#finances-debt-table tbody tr td:first-child {
	text-align: left;
}


#finances-membertype-overview {
	margin-bottom: 2rem;
	
}



#finance-membertype-table tbody tr:last-child,
#finances-top-container tbody tr:last-child{
	outline: 2px dotted var(--secondary-color);
}

/*Displaying all members in table*/

#members-table,
#member-dialog-results-table, #finances-active-inactive-article, #finances-debt-table, #finance-membertype-table {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 1px solid var(--tertiary-color);
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	border-collapse: separate;
	animation: fade-in 0.3s forwards;
	overflow: hidden;
}

#finance-membertype-table {
	width: 100%;
}


#members-table img {
	height: 4em;
	width: 3em;
	object-fit: cover;
	border: 1px solid var(--tertiary-color);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	transition: 0.4s;
}

#members-table img:hover {
	transform: scale(2);
	z-index: 1;
}

#table-flex-container-btn {
	display: flex;
	flex-direction: column;
}
#table-flex-container-btn button {
	margin: 0.3em;
}

.table-item {
	animation: fade-in 0.5s backwards var(--delay);
}

/* detail view styling */

.member-details-section {
	display: grid;
	grid-template-rows: 1fr;
}

/* home section styling */
#home-content {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--spacing-normal);
	grid-template-areas:
		"title title"
		"news info"
		"news info"
		"news info";
}
#home-title {
	grid-area: title;
	/* border: var(--border-solid); */
	/* background-color: green; */
	margin: var(--spacing-normal) 0 0 var(--spacing-normal);
}

#home-news {
	grid-area: news;
	border: var(--border-solid);
	/* background-color: red; */
	margin: var(--spacing-normal) 0 0 var(--spacing-normal);
}

#home-info {
	grid-area: info;
	border: var(--border-solid);
	/* background-color: yellow; */
	margin: var(--spacing-normal) var(--spacing-normal) 0 0;
}

#home-info article {
	margin-bottom: var(--spacing-normal);
}

#home-info article:first-of-type {
	margin-top: var(--spacing-normal);
}

#home-info-other {
	width: 28.5%;
	position: absolute;
	bottom: var(--spacing-normal);
}

.home-section-grid-item {
	border: var(--border-solid);
	background-color: var(--accent-color-light);
	border-radius: var(--border-radius);
	padding: var(--spacing-normal);
	box-shadow: var(--box-shadow);
}
.blog-post {
	border: var(--border-solid);
	background-color: var(--accent-color-light);
	border-radius: var(--border-radius);
	padding: var(--spacing-normal);
	margin-bottom: var(--spacing-normal);
	box-shadow: var(--box-shadow);
}

.blog-post:first-of-type {
	margin-top: var(--spacing-normal);
}

/* form styling */
form {
	margin: var(--spacing-normal) auto;
	padding: var(--spacing-normal);
	background-color: var(--accent-color-light);
}

form #form-content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1em;
}

form #form-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin-top: var(--spacing-normal);
}

form input,
form select {
	font-size: var(--font-size-small);
	font-weight: 200;
	padding: var(--spacing-small);
	margin: var(--spacing-tiny) var(--spacing-small);
	border: none;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

form input:focus,
form select:focus {
	outline: none;
}

form input[type="date"] {
	font-family: var(--font-family);
	font-weight: 200;
	text-transform: uppercase;
}

#join-form {
	margin-top: 2.25em;
}
#join-form #home-form-button {
	display: flex;
	justify-content: center;
	width: 100%;
}

#join-form #home-form-input-button {
	margin: var(--spacing-normal) 0;
}

/* show disciplines container when competitive is selected */
#memberType[value="competitive"] ~ #disciplines-container {
	display: block;
}

/* adjust disciplines container layout */
#disciplines-container {
	grid-column: 1 / span 2;
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: auto auto;
	align-items: center;
}

#disciplines-container label {
	grid-column: 1 / span 5;
	font-size: var(--font-size-normal);
	font-weight: 200;
	text-transform: capitalize;
	padding: var(--spacing-small);
	margin: var(--spacing-tiny) var(--spacing-small);
}

#disciplines-container input[type="checkbox"] {
	grid-row: 2 / span 1;
	margin: var(--spacing-tiny) var(--spacing-small);
}

#disciplines-container #checkbox-container {
	display: flex;
	flex-direction: column;
}

#disciplines-container input[type="checkbox"] {
	margin: var(--spacing-tiny);
}

/* form #form-buttons {
 display: grid;
    grid-template-columns: 1fr 1fr;
} */

form label {
	font-size: var(--font-size-normal);
	font-weight: 200;
	text-transform: capitalize;
	padding: var(--spacing-small);
	margin: var(--spacing-tiny) var(--spacing-small);
}

/* button styling */
button, input[type="button"], input[type="reset"], input[type="submit"]{
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
	font-size: var(--font-size-normal);
	font-weight: 200;
	border-radius: var(--border-radius);
	transition: ease-out 0.3s;
	box-shadow: var(--box-shadow);
	padding: var(--spacing-small) var(--spacing-normal);
	cursor: pointer;

}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	transform: var(--scale-on-hover);
	box-shadow: 3px 3px 10px var(--shadow-color);
	filter: brightness(1.2);
}

button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	transform: var(--scale-on-click);
	transition: 0.1s;
}

#btn-close-dialog-modal {
	margin-bottom: var(--spacing-normal);
}

#join-btn {
	font-size: var(--font-size-small);
	padding: var(--spacing-small) var(--spacing-normal);
	margin-top: var(--spacing-normal);
}

/* join form */
#join-form {
	min-width: 30em;
}

/* media queries */

@media (max-width: 479px) {
	#members-grid {
		grid-template-columns: repeat(1, 1fr);
	}
	#top-five-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1em;
	}
}

@media (min-width: 480px) {
	#members-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	#top-five-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 769px) {
	#members-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	#top-five-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1025px) {
	#members-grid {
		grid-template-columns: repeat(4, 1fr);
	}
	#top-five-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1201px) {
	#members-grid {
		grid-template-columns: repeat(5, 1fr);
	}
	#top-five-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* animations */

@keyframes pop-in-out {
	0% {
		opacity: 0;
		transform: scale(0.4);
		animation-timing-function: cubic-bezier(0.17, 0.67, 0.34, 1.25);
	}
	10% {
		opacity: 1;
		transform: scale(1);
	}
	90% {
		opacity: 1;
		transform: scale(1);
		animation-timing-function: cubic-bezier(0.68, -0.32, 0.83, 0.66);
	}
	100% {
		opacity: 0;
		transform: scale(0.4);
	}
}

.pop-in-out {
	animation-name: pop-in-out;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
	}
}

/* classes */

.hidden {
	display: none;
}

.member-in-debt {
	outline: 2px solid rgb(188, 0, 0);
}

/* views */

.view-content {
	display: none;
	/* padding: 248px 2em; */
}

.view-content.active {
	display: block;
}
