/* font import */
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;400;500;700&display=swap");

/* root variables */
:root {
	/* fonts */
	--font-family: "Ysabeau", cursive;
	--font-size-normal: 1em;
	--font-size-small: 0.8em;
	--font-size-large: 1.2em;
	--font-size-xlarge: 1.8em;
	--font-size-xxlarge: 2.5em;
	/* colors */
	--primary-color: #f5f5f5;
	--secondary-color: #333333;
	--tertiary-color: #c9c9c9;
	--accent-color-light: #1e90ac;
	--accent-color-dark: #11596b;
	--shadow-color: #111;
	--text-color: var(--secondary-color);

	/* spacing */
	--spacing-tiny: 0.25em;
	--spacing-small: 0.5em;
	--spacing-normal: 1em;
	--spacing-large: 1.5em;

	/* borders */
	--border-radius: 0.5em;
	--border-solid: 1px solid var(--tertiary-color); /* color subject to change */
	--border-none: none;

	/* effects */
	--box-shadow: 2px 2px 8px var(--shadow-color);
	/* gradient colors are subject to change */
	--gradient: linear-gradient(to bottom right, var(--accent-color-light), var(--accent-color-dark));
	--transition-transform: transform 0.4s ease-in-out;
	--scale-on-hover: scale(1.01);
	--scale-on-click: scale(0.95);

	/* media queries */
	--media-query-small: 600px;
	--media-query-medium: 900px;
	--media-query-large: 1200px;
	--media-query-xlarge: 1800px;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* general styling */
body {
	font-family: var(--font-family);
	font-size: var(--font-size-normal);
	color: var(--text-color);
	background-color: var(--accent-color-dark);
}

header,
nav,
footer {
	background-color: var(--accent-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family);
	font-weight: 400;
}

h1 {
	font-size: var(--font-size-xxlarge);
}

h2 {
	font-size: var(--font-size-xlarge);
}

h3 {
	font-size: var(--font-size-large);
}

p {
	font-size: var(--font-size-normal);
	font-weight: 300;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

ul {
	list-style: none;
}

li {
	padding: var(--spacing-small);
}

img {
	max-width: 100%;
}

button {
	padding: 0.8em;
	border: none;
	border-radius: var(--border-radius);
}

/* header styling */
header {
	padding: var(--spacing-normal) var(--spacing-normal);
	width: 100%;
}

header h1 {
	text-align: center;
	color: var(--secondary-color);
}

/* nav styling */
nav {
	padding: var(--spacing-tiny) var(--spacing-normal);
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	box-shadow: 2px 2px 10px var(--shadow-color);
}

nav a {
	font-size: var(--font-size-large);
	font-weight: 300;
	padding: var(--spacing-small) var(--spacing-normal);
}

nav a:hover {
	text-decoration: underline var(--primary-color) 2px; /* change into a bottom border */
}

nav a.active {
	text-decoration: underline var(--primary-color) 2px; /* change into a bottom border */
}

nav button {
	margin-left: auto;
	margin-right: var(--spacing-small);
}

/* search-bar styling */
#search-bar {
	background-color: var(--accent-color-light);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--spacing-normal) auto;
	padding: var(--spacing-tiny);
	border: var(--border-solid);
	border-radius: var(--border-radius);
	width: fit-content;
}

#search-bar input,
#search-bar select,
#search-bar button,
#main-dialog input {
	font-size: var(--font-size-normal);
	font-weight: 200;
	text-transform: capitalize;
	padding: var(--spacing-small);
	margin: var(--spacing-tiny) var(--spacing-small);
	border: none;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

#search-bar input:focus,
#search-bar select:focus {
	outline: none;
}

/* section styling */
.section-title {
	text-transform: capitalize;
	text-align: center;
	padding-top: var(--font-size-small);
}

/* dialog styling */

#btn-close-dialog-modal {
	float: right;
}

#main-dialog-frame {
	min-height: fit-content;
	/* max-height: 37em; */
	margin: auto;
	padding: 1em;
	background-color: var(--accent-color-light);
	border: var(--border-solid);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

#details-body-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 1rem;
	gap: 1rem;
}

#details-img {
	max-width: 250px;
	height: 400px;
}
#details-img img {
	/* width: 300px; */
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	object-fit: cover;
}

/* grid styling */

#members-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	margin: 1.5em;
	background-color: var(--accent-color-dark);
}

.grid-item {
	border: var(--border-solid);
	padding: 1em;
	background-color: var(--accent-color-light);
	border-radius: var(--border-radius);
	max-width: 20em;
	margin: auto auto;
	transition: ease-out 0.3s;
	box-shadow: var(--box-shadow);
}

.grid-item img {
	display: flex;
	width: 200px;
	height: 300px;
	margin: auto auto;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.grid-item:hover {
	transform: var(--scale-on-hover);
	box-shadow: 3px 3px 10px var(--shadow-color);
}

.grid-item-bottom {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.grid-item-bottom button {
	margin-top: 1em;
}

/* table styling */

#finances-debt-table,
#finances-debt-table tr,
#finances-debt-table td {
	border-collapse: collapse;
	border: 1px solid black;
}

#finances-active-inactive-table,
#finances-active-inactive-table tr,
#finances-active-inactive-table td {
	border: 1px solid black;
	border-collapse: collapse;
}

#finance-membertype-table,
#finance-membertype-table tr,
#finance-membertype-table td {
	border: 1px solid black;
	border-collapse: collapse;
}

/* detail view styling */

.member-details-section {
	display: grid;
	grid-template-rows: 1fr;
}

/* form styling */
form {
	margin: var(--spacing-normal) auto;
	padding: var(--spacing-normal);
	background-color: var(--accent-color-light);
}

form #form-content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1em;
}

form #form-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin-top: var(--spacing-normal);
}

form input,
form select {
	font-size: var(--font-size-small);
	font-weight: 200;
	text-transform: capitalize;
	padding: var(--spacing-small);
	margin: var(--spacing-tiny) var(--spacing-small);
	border: none;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

form input:focus,
form select:focus {
	outline: none;
}

form button,
form input[type="submit"],
form input[type="reset"] {
	margin-top: var(--spacing-small);
}

form button:hover,
form input[type="submit"]:hover,
form input[type="reset"]:hover {
	transform: var(--scale-on-hover);
	box-shadow: 3px 3px 10px var(--shadow-color);
}

form button:active,
form input[type="submit"]:active,
form input[type="reset"]:active {
	transform: var(--scale-on-click);
}

form input[type="date"] {
	font-family: var(--font-family);
	font-weight: 200;
	text-transform: uppercase;
}

/* show disciplines container when competitive is selected */
#memberType[value="competitive"] ~ #disciplines-container {
	display: block;
}

/* adjust disciplines container layout */
#disciplines-container {
	grid-column: 1 / span 2;
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: auto auto;
	align-items: center;
}

#disciplines-container label {
	grid-column: 1 / span 5;
	font-size: var(--font-size-normal);
	font-weight: 200;
	text-transform: capitalize;
	padding: var(--spacing-small);
	margin: var(--spacing-tiny) var(--spacing-small);
}

#disciplines-container input[type="checkbox"] {
	grid-row: 2 / span 1;
	margin: var(--spacing-tiny) var(--spacing-small);
}

#disciplines-container #checkbox-container {
	display: flex;
	flex-direction: column;
}

#disciplines-container input[type="checkbox"] {
	margin: var(--spacing-tiny);
}

/* form #form-buttons {
 display: grid;
    grid-template-columns: 1fr 1fr;
} */

form label {
	font-size: var(--font-size-normal);
	font-weight: 200;
	text-transform: capitalize;
	padding: var(--spacing-small);
	margin: var(--spacing-tiny) var(--spacing-small);
}

/* button styling */
button {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-size: var(--font-size-normal);
	font-weight: 200;
	border-radius: var(--border-radius);
	transition: ease-out 0.3s;
	box-shadow: var(--box-shadow);
	padding: var(--spacing-small) var(--spacing-normal);
}

button:hover {
	transform: var(--scale-on-hover);
	box-shadow: 3px 3px 10px var(--shadow-color);
}

button:active {
	transform: var(--scale-on-click);
}

/* media queries */

@media (max-width: 479px) {
	#members-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 480px) {
	#members-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 769px) {
	#members-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1025px) {
	#members-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1201px) {
	#members-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

/* animations */

/* classes */

.hidden {
	display: none;
}

.member-in-debt {
	border: 2px solid red;
}

/* views */

.view-content {
	display: none;
	/* padding: 248px 2em; */
}

.view-content.active {
	display: block;
}
